doctype html
html(lang='en')
    head
        //script(src='vendor.js', type='text/javascript')
        link(rel='stylesheet', href='vendor.css')
        link(rel='stylesheet', href='bundle.css')
    body
        #app(class='content')
        script(src='bundle.js', type='text/javascript')